<article>
	<header>
		<h1><a href="/entries/{{nid}}">{{title}}</a></h1>
		<time datetime="{{formatDate updated}}">{{formatDate updated}}</time>		
	</header>
	<div class="article--body">{{body}}</div>
</article>